<div class="container-fluid" >
    <div class="row-fluid">
        <h2 data-i18n="_FormControllerTitle_"></h2>
    </div>
    <div class="row-fluid">
        <form name="myForm" class="form-horizontal span5 well">
            <div class="row-fluid">
                <input type="text" ng-model="person.FirstName" required id="FirstName" name="FirstName" class="input-large" data-i18n-attr="_FirstNameLabel_|placeholder" /> <a><span tooltip-placement="right" tooltip="{{ '_FirstNameHelp_' | i18n }}" >?</span></a>
            </div>
            <div class="row-fluid">
                &nbsp;
            </div>
            <div class="row-fluid">
                <input type="text" ng-model="person.LastName" required id="LastName" name="LastName" class="input-large" data-i18n-attr="_LastNameLabel_|placeholder"/> <a><span tooltip-placement="right" tooltip="{{ '_LastNameHelp_' | i18n }}" >?</span></a>
            </div>
            <div class="row-fluid">
                &nbsp;
            </div>
            <div class="row-fluid">
                <input type="text" ng-model="person.Email" required id="Email" name="Email" class="input-large" data-i18n-attr="_EMailLabel_|placeholder"/> <a><span tooltip-placement="right" tooltip="{{ '_EMailHelp_' | i18n }}" >?</span></a>
            </div>
            <div class="row-fluid">
                &nbsp;
            </div>
            <div class="row-fluid">
                <textarea ng-model="person.Bio" required id="Bio" name="Bio" class="input-xxlarge" data-i18n-attr="_BioLabel_|placeholder"></textarea>
            </div>
            <div class="row-fluid">
                &nbsp;
            </div>
            <div class="row-fluid">
                <button class="btn-primary" ng-click="savePerson()" data-i18n="_SaveButtonLabel_"></button>
                <button class="btn-primary" ng-click="cancel()" data-i18n="_CancelButtonLabel_"></button>
            </div>
        </form>
    </div>
</div>